<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel="stylesheet" href="../signup/signup.css">
</head>
<body>
    <form onsubmit="login(event)">

        <h1 >Login</h1>

        <label for="email">Enter Email :</label>
        <input type="email" name="email" required>

        <label for="name">Enter Password :</label>
        <input type="password" name="password" required>

        <button>Login</button>
        
        <a href="../signup/signup.html">New User - Signup Now</a>

    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="login.js"></script>
</body>
</html>